.bg {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 72px;
    letter-spacing: -0.015em;
}

@media only screen and (max-width: 350px) {
    .text-title {
        font-size: 50px;
    }
}

.text-description {
    max-width: 640px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.015em;
    line-height: 32px;
    margin-bottom: 20px;
}

.form-login {
    max-width: 350px;
    width: 100%;
}

.input-group-login .form-control {
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    height: 50px;
    font-size: 20px !important;
    padding-left: 20px !important;
}

.btn-login {
    border-top-right-radius: 75px !important;
    border-bottom-right-radius: 75px !important;
}

.astronaut {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 180px;
    animation: astronaut-move 20s forwards;
}

@media screen and (max-width: 1200px) {
    .astronaut {
        animation: astronaut-move-mobile 20s forwards;
    }
}

.comet {
    position: absolute;
    top: 150px;
    left: -250px;
    width: 200px;
    animation: comet-move 20s 5s forwards;
}

@keyframes astronaut-move {
    to {
        transform: translate(-340px, 40px) rotate(-360deg);
    }
}

@keyframes astronaut-move-mobile {
    to {
        transform: translate(-380px, -200px) rotate(-360deg);
    }
}

@keyframes comet-move {
    to {
        transform: translate(500px, -150px);
        filter: hue-rotate(360deg);
    }
}
